article.admin-with-cogwheels {
  width : 100%;
  height : 80%;
  background : url(https://raw.githubusercontent.com/wush978/DataScienceAndR/gh-pages/slide/assets/img/Workspace1_036.png);
  background-size : 100% 100%;}

